@import '/src/styles/variables.scss';

.card{
    background-color: $white-color;
    display: flex;
    flex-direction: column;
    width: 360px;
    height: 420px;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    @media(max-width: $mobile){
        width: 345px;
        height: 402px;
    }
}

@media(max-width: $mobile){
    .img{
        width: 345px;
        height: 402px;
    }
}

.card:hover{
    outline: 2px $green-color solid;
    cursor: pointer;
}

.buttonAdd{
    border-radius: 50%;
    background-image: url("/buttonAdd.svg");
    background-position: center;
    width: 40px;
    height: 40px;
    border: transparent;
}

.buttonAdd:hover{
    cursor: pointer;
    background-image: url("/buttonAddActive.svg");
}

.description{
    margin: 26px 28px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    @media(max-width: $mobile){
        margin: 20px 15px;
    }
}

.container{
    display: flex;
    justify-content: space-between;
}

.price{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.name{
    color: $black;
    font-size: 16;
    font-weight: $semibold;      
    margin-bottom: 22px;
    @media(max-width: $mobile){
        margin-bottom: 10px;
    }
}

.oldprice{
    color: $gray2;
    text-decoration: line-through;
    font-size: 16px;
}

.newprice{
    color: $green-color;
    font-size: 25px;
    font-weight: $semibold;    
    @media(max-width: $mobile){
        font-size: 25px;
    }
}