@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.main{
    background-color: $white-color;
    margin-bottom: 30px;
}

.button{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 60px 0;
}

.text{
    width: 1140px;
    margin: 72px auto 50px;
    height: 70px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &Title{
        @include h2-title-black2;
    }

    &Subitle{
        font-size: 14px;
        font-weight: $regular;
        text-align: left;
    }
}

.container{
    display: grid;
    grid-template-columns: repeat(auto-fill, 360px);
    gap: 30px;
    width: 1140px;
    margin: 0 auto;
}