$font-roboto: var(--font-roboto);
$font-montserrat: var(--font-montserrat);
$black: 900;
$extrabold: 800;
$bold: 700;
$semibold: 600;
$medium: 500;
$regular: 400;
$light: 300;

//Devices
$mobile: 480px;
$laptop: 768px;
// $desktop: 1920px;

// Colors
$abs-black-color: #000000;
$black-color: #333333;
$black-color2: #262626;
$black-color3: #222222;
$white-color: #fff;
$white-color2: #fcfcfc;
$yellow-color: #fbd846;
$yellow-color2: #FFE888;
$yellow-color3: #FFE472;
$yellow-color4: #F8CC55;

$green-color: #99cb38;
$green-color2: #C0F35B;

$gray-filling-color: #f5f5f5;
$gray1: #f4f4f4;
$gray2: #b0b0b0;
$gray3: #9b9b9b;
$gray4: #8c8c8c;
$gray5: #333333; //тут должен быть полупрозрачный 80
$gray6: #000000; //полупрозрачный 70
$gray7: #f0f0f0;


$hover-color: #99CB38;

$transition: 0.2s ease-in-out;
