@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';


.section2{
    padding-top: 52px;
    background: linear-gradient(0.25turn, $yellow-color3, $yellow-color4, $yellow-color);
    width: 100%;
}

.wrapper2{
    display: flex;
    width: 100%;
    justify-content: center;
    padding: 50px 0;
}

.container5{
    display: grid;
    justify-content: center;
    max-width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(3, 360px);
    gap: 20px 30px;
}

.title2{
    @include h2-title-black;
    padding-bottom: 42px;
}