@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.main{
    display: flex;
    background-color: $white-color;
    width: 100%;
    height: 710px;
    justify-content: center;
    padding-left: 390px;

    &Container{
        width: 654px;

        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            width: 92vw;
            margin-left: auto; 
            margin-right: auto;
        }
    }

    @media(max-width: $mobile){
        padding-left: 0;
        height: auto;
    }
}

.titlewrapper{
    display: block;
    margin-top: 56px;
    height: 120px;
    width: 556px;

    @media(max-width: $mobile){
        width: 92vw;
        height: auto;
        margin-top: 35px;
    }
}

.titlept1 {
    font-weight: 900;
    font-size: 35px;
}

.titlept2{
    color: $yellow-color;
    font-weight: 700;
    font-size: 35px;
}

@media(max-width: $mobile){
    .titlept1{
        font-size: 28px;
        font-weight: $black;
    }
    .titlept2{
        font-size: 28px;
        font-weight: $bold;
    }
}

.subtitle{
    font-size: 18px;
    font-weight: 400;
    width: 554px;
    height: 50px;
    margin-top: 22px;

    @media(max-width: $mobile){
        font-weight: $regular;
        font-size: 14px;
        width: 92vw;
    }
}

.container1 {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 264px 360px;
    row-gap: 70px;
    column-gap: 30px;

    @media(max-width: $mobile){
        margin-top: 60px;
        grid-template-columns: 46vw 46vw;
        row-gap: 10vw;
        column-gap: 0;
        align-items: start;
    }
}

.container2 {
    display: flex;
    justify-content: flex-start;
    align-items: center;

    @media(max-width: $mobile){
        // width: ;
    }
}

.text {
    font-weight: $medium;
    font-size: 16px;
    margin-left: 10px;
    align-self: center;
    
    @media(max-width: $mobile){
        font-size: 14px;
        font-weight: $medium;
    }
}

.img1{
    padding-top: 4px;
    align-self: center;
}

.container4{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;

    @media(max-width: $mobile){
        display: flex;
        flex-direction: column;
    }
}

.container3{
    display: flex;
    flex-direction: column;
    @media(max-width: $mobile){
        width: 92vw;
        justify-content: center;
    }
}

.img2{
    // display: block;
    align-self: center;
}

@media(max-width: $mobile){
    .mainImage{
        display: none;
    }
}

.text2{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: $medium;
    text-align: center;
    max-width: 264px;
    @media(max-width: $mobile){
        width: 92vw;
        align-self: center;
    }
}

@media(max-width: $mobile){
    div.container2:last-child{
        .img1{
            align-self: start;
        }
        .smalltext{
            font-size: 12px;
            font-weight: $regular;
        }
    }
    div.container3{
        .text2{
            font-size: 14px;
            font-weight: $medium;
        }
        .smalltext{
            font-size: 14px;
            font-weight: $regular;
        }
    }
}
