@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.main{
    display: flex;
    background-color: $white-color;
    width: 100%;
    height: 716px;
    justify-content: center;
    padding-left: 390px;
    // margin-left: 20%;
    &Container{
        width: 654px; //488 //654
    }
}

@media(max-width: 768px){
    .main{
        padding: 0%;
        &Container{
            width: 345px;
        }
    }
}

.titlewrapper{
    display: block;
    margin-top: 56px;
    height: 120px;
    width: 556px;
}

.container1 {
    margin-top: 70px;
    display: grid;
    grid-template-columns: 264px 360px;
    row-gap: 70px;
    column-gap: 30px;
}

.titlept1 {
    font-weight: 900;
    font-size: 35px;
}

.titlept2{
    color: $yellow-color;
    font-weight: 700;
    font-size: 35px;
}

.subtitle{
    font-size: 18px;
    font-weight: 400;
    width: 554px;
    height: 50px;
    margin-top: 22px;
}

.text {
    font-weight: $medium;
    font-size: 16px;
    margin-left: 10px;
    align-self: center;
}

.container2 {
    display: flex;
    justify-content: flex-start;
    
}

.img1{
    padding-top: 4px;
    align-self: center;
}

.container4{
    margin-top: 40px;
    display: flex;
    justify-content: space-between;
}


.container3{
    display: flex;
    flex-direction: column;
}

.img2{
    // display: block;
    align-self: center;
}

@media(max-width: 768px){
    .mainImage{
        display: none;
    }
}

.text2{
    margin-top: 16px;
    margin-bottom: 16px;
    font-size: 16px;
    font-weight: $medium;
    text-align: center;
    max-width: 264px;
}




