@import '/src/styles/variables.scss';


.header {
    width: 1140px;
    height: 100px;

    background: $white-color;

    margin: 0 auto;  
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.line{
    width: 100%;
    border: 2px solid rgba(0, 0, 0, 0.01);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.navbar{
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 165px;
    height: 68px;
    margin: 18px 0px;
}

.logo::after{
    width: 200px;
    display: none;
    margin-left: 44px;
    color: $black-color;
    font-size: 14px;
    font-weight: 14px;
    content: '+7 (3466) 68-15-98';
}

@media(max-width: 768px){
    .logo::after{
        display: flex;
    }
    .button_call{
        display: none;
    }
    .navbar{
        display: none;
    }
}
