@import '/src/styles/variables.scss';
@import '/src/styles/mixins.scss';

.section4 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: $white-color;
    padding-bottom: 92px;
}

.title{
    padding-top: 70px;
    padding-bottom: 26px;
    display: flex;
    justify-content: center;

    &Black{
        @include h2-title-black;
    }

    &Yellow{
        @include h2-title-yellow;
        padding-left: 10px;
    }
}

.text{
    font-size: 20px;
    text-align: center;
    max-width: 1140px;
    padding-bottom: 60px;
    margin-left: auto;
    margin-right: auto;
}

.smalltext{
    color: #818181;
    font-size: 18px;
    font-weight: $semibold;
    padding-right: 20px;
}

.container{
    display: flex;
    margin-left: auto;
    margin-right: auto;
}

.container2{
    display: flex;
    max-width: 945px;
    flex-wrap: wrap;
    gap: 24px 30px;
}

.pictures{
    margin-top: 44px;
    margin-bottom: 64px;
    align-self: center;
    display: grid;
    // min-width: 60%;
    max-width: 60%;
    grid-template-columns: repeat(auto-fill, 360px);
    // grid-auto-rows: 260px;
    gap: 30px;
    justify-content: start;
}

.card{
    width: 360px;
    height: 260px;
    position: relative;
    cursor: pointer;
}

.icon{
    position: relative;
    left: 300px;
    bottom: 64px
}

