@import '/src/styles/variables.scss';

.mainwrapper {
    background-color: $yellow-color;
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
}

.container{
    margin: 0 auto;
    width: 1140px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.adresswrapper{
    width: 600px;
    display: flex;
    align-items: center;
}

.phonewrapper{
    width: 200px;
    display: inline-flex;
    align-items: center;
}

.adress {
    font-size: 14px;
    font-weight: 400;
    margin-left: 10px;
    color: $abs-black-color;
}

.phone {
    font-size: 16px;
    font-weight: 600;
    margin-left: 10px;
    color: $abs-black-color;
}

@media(max-width: 375px){
    .mainwrapper{
        display: none;
    }
}
