@import '/src/styles/variables.scss';

.nav {
    overflow: auto;
    display: flex;
    align-items: center;

    &List {
        display: flex;
        justify-content: space-between;
        align-items: center;

        &Item {
            margin: 0 10px;

            &>a {
                color: $black-color;
                font-family: $font-montserrat;
                font-size: 14px;
                font-style: normal;
                font-weight: 600;
                letter-spacing: 0%;
                line-height: normal;
                text-transform: capitalize;
                text-decoration: none;
                transition: $transition;

                &:hover {
                    color: $hover-color;
                }
            }
        }
    }
    
}